.grundriss-canvas.svelte-i89djo{width:100%;height:100%;background:#fff;display:block}.bx--type-expressive-heading-01{font-weight:600;margin-bottom:.5rem}.bx--type-expressive-heading-02{font-weight:600}
